<%- include('parts/header') %>

<div class="container mt-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <% for(let i = 0 ; i < cartData.length ; i++ ) { %>
          <tr>
            <th scope="row"><%= i %></th>
            <td><a href="/product/<%=cartData[i].productId%>"><%= cartData[i].name%></a></td>
            <td><%= cartData[i].price%></td>
            <td><input type="number" class="form-control" style="width: 200px;" min="0" name="amount" value="<%= cartData[i].amount%>"></td>
            <td>
                <form method="post">
                    <button type="submit" class="btn btn-primary" formaction="/cart/<%= cartData[i].id %>/update/<%= cartData[i].productId %>">Update </button> 
                    <button type="submit" class="btn btn-danger" formaction="/cart/<%= cartData[i].id %>/destroy/<%= cartData[i].productId %>">Danger</button>
                </form>
            </td>
          </tr>
          <%}%>
        </tbody>
      </table>
</div>

<%- include('parts/footer') %>

