<%- include('parts/header') %>

<div class="container mt-5">
      <% if(errorCart){ %>
        <p class="alert alert-danger mt-5 text-center"><%= errorCart %></p>
      <% } %>
      <% if(addCart){ %>
        <p class="alert alert-success mt-5 text-center"><%= addCart %></p>
      <%}%>
        <div class="card">
          <div class="row">
            <div class="col-sm-6">
            <img class="card-img-top" src="/images/<%= product.image%>" height="400" alt="Card image cap">
          </div>
          <div class="col-sm-6 d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title"><%= product.name%> | category : <%= product.category%> </h5>
            <h6 class="card-title">Price : <%= product.price%> $</h6>
            <p class="card-text"><%= product.desc%></p>
            <form action="/cart/<%= product.id%>" method="post">
              <button type="submit" class="btn btn-primary">Add To Cart</button>
            </form>
          </div>
      </div>
    </div>
</div>

<%- include('parts/footer') %>